{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Acceso – JobMatch AI{% endblock %}</title>
    <link
      rel="icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.30.0/tabler-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}" />
  </head>
  <body class="auth-background">
    {% block content %}{% endblock %}
  </body>
</html>
