{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Campaña</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
</head>
<body>
    <div class="editar-campania-container">
        <h2>Editar Campaña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
            <a href="{% url 'campania_activas' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>
